<div class="container">

<div class="row test" >
  {{#if value}}
{{#each value}}
<div class="col-md-4 mycard">
<div class="card" id="card" style="width: 18rem;">
  <img src="/product_images/{{this._id}}.jpeg" class="card-img-top" style="width:12rem ;height:9rem" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.brandname}}</h5>
    <p class="card-text">{{this.category}}</p>
    <p class="card-text" style="color: rgb(255, 255, 255);background-color:rgb(2, 2, 2);border-radius: 10px;padding:0 1rem">{{this.price}}</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
</div>

{{/each}}

{{else}}

  <h1 style="text-align: center;">{{err}}</h1>

{{/if}}


</div>
</div>


